.criar-pergunta-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .criar-pergunta-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .react-quill {
    height: 200px;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .popup-container {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    animation: scaleIn 0.3s ease;
    text-align: center;
  }

  @media (max-width: 600px) {
  .criar-pergunta-container button {
    width: 100% !important;
  }
}
